In [ ]:
a = 5
b = 4
print(a+b)

9

In [ ]:
a = "aakib"
print("Hello", a)

Hello aakib

In [ ]:
a = 2
b = 4

maximum = max(a, b)
print(maximum)

4

In [ ]:
print("List of months: January, February, March, April, May, June, July, August, September, October, November, December")
month_name = input("Input the name of Month: ")

if month_name == "February":
	print("No. of days: 28/29 days")
elif month_name in ("April", "June", "September", "November"):
	print("No. of days: 30 days")
elif month_name in ("January", "March", "May", "July", "August", "October", "December"):
	print("No. of days: 31 days")
else:
	print("Wrong month name")

List of months: January, February, March, April, May, June, July, August, September, October, November, December
Input the name of Month: March
No. of days: 31 days

In [ ]:
str = "Kureshi"
print(len(str))

7

In [ ]:
a=int(input())
if a%3==0:
  print("Divisible")
else:
  print("Not divisible")

15
Divisible

In [ ]:
a=int(input())
if a<0:
  print("Negative")
elif a>0:
  print("Positive")
else:
  print("Zero")

-8
Negative

In [ ]:
day = int(input("Input birthday: "))
month = input("Input month of birth (e.g. march, july etc): ")
if month == 'december':
	astro_sign = 'Sagittarius' if (day < 22) else 'capricorn'
elif month == 'january':
	astro_sign = 'Capricorn' if (day < 20) else 'aquarius'
elif month == 'february':
	astro_sign = 'Aquarius' if (day < 19) else 'pisces'
elif month == 'march':
	astro_sign = 'Pisces' if (day < 21) else 'aries'
elif month == 'april':
	astro_sign = 'Aries' if (day < 20) else 'taurus'
elif month == 'may':
	astro_sign = 'Taurus' if (day < 21) else 'gemini'
elif month == 'june':
	astro_sign = 'Gemini' if (day < 21) else 'cancer'
elif month == 'july':
	astro_sign = 'Cancer' if (day < 23) else 'leo'
elif month == 'august':
	astro_sign = 'Leo' if (day < 23) else 'virgo'
elif month == 'september':
	astro_sign = 'Virgo' if (day < 23) else 'libra'
elif month == 'october':
	astro_sign = 'Libra' if (day < 23) else 'scorpio'
elif month == 'november':
	astro_sign = 'scorpio' if (day < 22) else 'sagittarius'
print("Your Astrological sign is :",astro_sign)

Input birthday: 1
Input month of birth (e.g. march, july etc): july
Your Astrological sign is : Cancer

In [ ]:
year = int(input("Input your birth year: "))
if (year - 2000) % 12 == 0:
    sign = 'Dragon'
elif (year - 2000) % 12 == 1:
    sign = 'Snake'
elif (year - 2000) % 12 == 2:
    sign = 'Horse'
elif (year - 2000) % 12 == 3:
    sign = 'sheep'
elif (year - 2000) % 12 == 4:
    sign = 'Monkey'
elif (year - 2000) % 12 == 5:
    sign = 'Rooster'
elif (year - 2000) % 12 == 6:
    sign = 'Dog'
elif (year - 2000) % 12 == 7:
    sign = 'Pig'
elif (year - 2000) % 12 == 8:
    sign = 'Rat'
elif (year - 2000) % 12 == 9:
    sign = 'Ox'
elif (year - 2000) % 12 == 10:
    sign = 'Tiger'
else:
    sign = 'Hare'

print("Your Zodiac sign :",sign)

Input your birth year: 1994
Your Zodiac sign : Dog

In [ ]:
a = int (input("Enter a: "));
b = int (input("Enter b: "));
c = int (input("Enter c: "));
if a>b and a>c:
    print ("From the above three numbers given a is largest");
if b>a and b>c:
    print ("From the above three numbers given b is largest");
if c>a and c>b:
    print ("From the above three numbers given c is largest")

Enter a: 100
Enter b: 130
Enter c: 170
From the above three numbers given c is largest

In [ ]:
age = int (input("Enter your age: "))
if age>=18:
    print("You are eligible to vote !!");
else:
    print("Sorry! You are not eligible!!")

Enter your age: 16
Sorry! You are not eligible!!

In [ ]:
num = int(input("enter the number:"))
if num%2 == 0:
    print("It is an even number")
else:
    print("The Given Number is an odd number")

enter the number:3
The Given Number is an odd number

In [1]:
marks = int(input("Enter the marks: "))
if marks > 85 and marks <= 100:
   print("Congrats ! you scored grade A ...")
elif marks > 60 and marks <= 85:
   print("You scored grade B + ...")
elif marks > 40 and marks <= 60:
   print("You scored grade B ...")
elif (marks > 30 and marks <= 40):
   print("You scored grade C ...")
else:
   print("Sorry you are fail.")

Enter the marks: 47
You scored grade B ...